@import url(../../fonts/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome-wrapper {
  position: relative;
  margin-top: -45px;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent any overflow */
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Background overlay */
.welcome-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent dark overlay */
  z-index: 0;
}

h1 {
  position: relative;
  z-index: 9;
  color: white;
}

.buttons {
  display: flex;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 80%;
  gap: 20px;
}

.small-text {
  color: white;
  font-size: 16px;
  font-family: "Figtree", sans-serif;
}

h1 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2.5rem;
  font-weight: 600;
}

.mid-text {
  color: #edf6eb;
  z-index: 500;
  font-size: 18px;
  font-family: "Figtree", sans-serif;
  margin: 20px;
  padding: 10px;
}
