.carousel-page-wrapper {
  /* background-color: #c33735;
   */
  background-color: #003333;
  padding-bottom: 40px;
}
.carousel-page-wrapper h1 {
  padding: 30px;
}
.react-multi-carousel-arrow {
  z-index: 999; /* Ensures arrows are below the navbar */
}
