.attractions_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 40px;
  margin-top: 50px;
}
.loader-container {
  height: 80vh;
}
.content {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
