.footer {
  background-color: #003333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 260px;
  color: #aeb3ae;
  flex-wrap: wrap;
}

.logo-section img {
  height: 90px;
}

.footer p {
  padding: 10px;
  cursor: pointer;
}

.logo-section p {
  cursor: default !important; /* Prevent pointer cursor */
  color: inherit;
}

.footer p:hover {
  color: white;
}
