.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin: 20px;
  flex-wrap: wrap;
}
.main-title {
  color: #3f3f41;
  padding: 30px;
  margin: 10px;
}
